<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlesunsoftware.wearwheel"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.hardware.bluetooth_le" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data android:name="com.google.android.wearable.standalone" android:value="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name="com.littlesunsoftware.wearwheel.SpeedometerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light" />
        <activity
            android:name="com.littlesunsoftware.wearwheel.BTScanActivity"
            android:label="@string/title_activity_btscan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>